html{
  font-family: Signika;
  min-width: 1200px;
  background: #FFFFF7;
  color: #383C40;
}

body{
  margin:0;
  top:0;
  height:100%;
}

.main-container {
  margin: auto;
}

.header{
  position: relative;
  text-align: center;
  height: 130px;
  width: 100%;
  background: #4D5257;
  margin-bottom: 20px;
  display: inline-block;
  padding-bottom: 30px;
}

.header a{
  text-decoration: none;
  display: inline-block;
}

nav {
  display: inline-block;
  position: absolute;
  bottom: 15px;
  right: 10%;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 2px;
}
p#title {
  padding-top: 15px;
  margin:0;
  font-size: 4em;
  color: #FFFFF7;
  font-family: Lobster;
}

p#subtitle{
  position: relative;
  margin-top: 5px;
  font-size: 1.2em;
  color: #FFFFF7;
}

.hidden {
  display: none;
}

footer a{
  color: #8EDB7C;
}

footer{
  clear:both;
  text-align: center;
  bottom: 0;
  width: 100%;
  position: fixed;
}

.zip_update{
  width: 50%;
  margin: auto;
  text-align: center;
}

.zipcode input{
  font-size: 2em;
  text-align: center;
  width: 150px;
  height: 40px;
}

.zipcode input[type=submit]{
  height: 40px;
  width: 155px;
  background: #4D5257;
  font-size: 1em;
  color: white;
  margin-top: 10px;
  border: none;
}

#comingsoon{
  padding-top: 10%;
  text-align: center;
}
