html{
  font-family: Signika;
  background: #FFFFF7;
  color: #383C40;
}

body{
  margin:0;
  top:0;
  height:100%;
}

.main-container {
  width: 80%;
  margin: auto;
}
.header{
  text-align: center;
  height: 150px;
  width: 100%;
  background: #4D5257;
  margin-bottom: 20px;
  display: inline-block;
}

.header a{
  text-decoration: none;
  display: inline-block;
}

nav{
  float: right;
  padding-right: 4%;
  position: relative;
  margin-top: -10%;
}
nav a{
  color: white;
  text-decoration: none;
  padding: 2px;
}
p#title {
  padding-top: 20px;
  margin:0;
  font-size: 4em;
  color: #FFFFF7;
  font-family: Lobster;
}

p#subtitle{
  position: relative;
  margin-top: 5px;
  font-size: 1.2em;
  color: #FFFFF7;
}

.hidden {
  display: none;
}

footer a{
  color: #8EDB7C;
}

footer{
  clear:both;
  text-align: center;
  bottom: 0;
  width: 100%;
  position: fixed;
}

.main-container{
  margin:auto;
  width: 70%;
}
