.mood-table {
  margin: auto;
}

.mood-icon img {
  height: 150px;
  width: 150px;
  padding: 20px;
}

.mood-icon img:hover {
  height: 170px;
  width: 170px;
  padding: 0px;
}

.mood-icon {
  width: 200px;
  height: 170px;
  padding: 20px;
}

/*#title {
  font-family: Lobster;
}*/

h2 {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
  width: 80%;
  font-family: Signika;
}

.response-show {
  display: inline-block;
  width: 600px;
  margin-left: 20%;
}

#poster {
  float: left;
  padding-right: 15px;
}

#movie-title {
  font-size: 30px;
}

.sidephotos {
  position: relative;
}

.side-photo {
  height: 100px;
  width: 100px;
}

#og-mood {
  position: absolute;
  top: 20%;
}

#die-pic {
  position: absolute;
  top: 35%;
}

#die-pic:hover {
    transform: scale(-1, 1);
}

#back-arrow {
  left: 20%;
  position: absolute;
}
