<div class="login">
  <h1 id='login'>Login</h1>
  <h1 id='register'>Register</h1>
</div>

<% if @error %>
  <p><%=@error%>
<% end %>

<form class="register hidden" action="/users" method="post">
  <input type="text" name="username" placeholder=" Username">
  <input type="password" name="password" placeholder=" Password">
  <input class="login-submit" type='submit' value="signup"/>
</form>

<form class="login hidden" action="/login" method="get">
  <input type="text" name="username" placeholder=" Username">
  <input type="password" name="password" placeholder=" Password">
  <input class="login-submit" type='submit' value="login"/>
</form>
