<div class="emojis">
  <h2>Feel free to select which of these really resonates most with you right now</h2>

  <table class="mood-table">
    <tr class="mood-row">
      <td class="mood-icon"><img id="happy" src=/imgs/moods/happy.png></td>
      <td class="mood-icon"><img id="laughing" src="/imgs/moods/laughing.png"></td>
      <td class="mood-icon"><img id="sad" src="/imgs/moods/sadcat.png"></td>
      <td class="mood-icon"><img id="shitty" src="/imgs/moods/shitty.png"></td>
    </tr>
    <tr class="mood-row">
      <td class="mood-icon"><img id="spooky" src="/imgs/moods/spooky.png"></td>
      <td class="mood-icon"><img id="pissed" src="/imgs/moods/pissed.png"></td>
      <td class="mood-icon"><img id="wine" src="/imgs/moods/wine.png"></td>
      <td class="mood-icon"><img id="inlove" src="/imgs/moods/inlove.png"></td>
    </tr>
    <tr class="mood-row">
      <td class="mood-icon"><img id="scary" src="/imgs/moods/scary.png"></td>
      <td class="mood-icon"><img id="beers" src="/imgs/moods/beers.png"></td>
      <td class="mood-icon"><img id="british" src="/imgs/moods/british.png"></td>
      <td class="mood-icon"><img id="thinker" src="/imgs/moods/thinker.png"></td>
    </tr>
  </table>
</div>
