<div class="search_page">
  <!-- <h1>Get Recommendations By</h1> -->

  <table class="options">
    <tr>
      <td class="search_icons" id="weather">
        <a href=""> <img src="<%=@src%>" name='<%=@mood%>' alt="Search By Weather"> </a>
      </td>
      <td class="search_icons" id="mood">
        <a href="/moods"> <img src="imgs/moods/happy.png" alt="Search By Mood"> </a>
      </td>
      <td class="search_icons" id="text">
        <a href="/search"> <img src="imgs/search1.png" alt="Text Search"> </a>
      </td>
    </tr>
    <!-- <tr>
      <td class="icon_text">Search By Weather</td>
      <td class="icon_text">Search By Mood</td>
      <td class="icon_text">Search By Text</td>
    </tr> -->
  </table>

</div>
<div class="sub-container">
</div>
